@using ReelJunkies.Models.ViewModels
@model VM_LandingPage
@{
    ViewData["Title"] = "Real Junkies";
}

<style>

    h5.card-title {
        height: 2.5em;
    }

    .owl-img {
        object-fit: cover;
        width: 400px;
    }
</style>

<!--  Content-->
<section class="searchhead">
    <div class="container h-100">

        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-9 searchhead-content">
                <h3 class="text-white">Welcome</h3>
                <p class="fw-l h5 text-white">
                    The most complete database for Movies,TV shows and Events.
                </p>
                <form method="get"
                      asp-action="Search">
                    <input name="query"
                           class="form-control rounded-0"
                           type="text"
                           placeholder="search for titles, genre, actors etc.." />
                </form>
            </div>
        </div>
    </div>
</section>



<!-- show something if result is not null-->
<!-- TOP Box Office -->
@{
    if (Model.Popular.results is not null)
    {
        <section class="section section-inset-2">
            <div class="container">
                <h2 class="text-center mb-5">Top Box Office</h2>
                <div class="row ">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">
                        @foreach (var result in Model.Popular.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="Movies"
                               asp-route-id="@result.id">
                                            <img src="@result.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @result.title" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="Movies"
                                   asp-route-id="@result.id">
                                                @result.title
                                            </a>
                                        </h6>
                                        <p>
                                            Release @result.release_date
                                        </p>
                                        <div class="pointer trailerlinks">
                                            <p data-movieid="@result.id">
                                                Watch Trailer
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </section>


    }//closing if inner
}
<!-- Horror-->
@{
    if (@Model.Horror.results is not null)
    {
        <section class="owl-slider owl-slider-horrorbg">
            <div class="container">
                <h2 class="text-center text-white mb-5">Not For the Faint Hearted</h2>
                <div class="row">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">


                        @foreach (var movie in Model.Horror.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="Movies"
                               asp-route-id="@movie.id">
                                            <img src="@movie.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @movie.original_title" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="Movies"
                                   asp-route-id="@movie.id">
                                                @movie.original_title
                                            </a>
                                        </h6>
                                        <p>
                                            Release @movie.release_date
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    }
}

<!-- Now Playing-->
@{
    if (Model.NowPlaying.results is not null)
    {
        <section class="section section-inset-2">
            <div class="container">
                <h2 class="text-center mb-5">In Theaters Now</h2>
                <div class="row">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">
                        @foreach (var result in Model.NowPlaying.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="Movies"
                               asp-route-id="@result.id">
                                            <img src="@result.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @result.title" />
                                        </a>
                                        <h6 class="offset-top-25 clampTitle">
                                            <a asp-action="Details"
                                   asp-controller="Movies"
                                   asp-route-id="@result.id">
                                                @result.title
                                            </a>
                                        </h6>
                                        <p>
                                            Release @result.release_date
                                        </p>
                                        <div class="pointer trailerlinks">
                                            <p data-movieid="@result.id">
                                                Watch Trailer
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </section>


    }//closing if inner
}

<!-- Popular TV shows-->
@{
    if (@Model.TvPopular.results is not null)
    {
        <section class="owl-slider bg-gray-900">
            <div class="container">
                <h2 class="text-center text-white mb-5">Popular TV Shows</h2>
                <div class="row">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">
                        @foreach (var tv in Model.TvPopular.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="TV"
                               asp-route-id="@tv.id">
                                            <img src="@tv.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @tv.name" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="TV"
                                   asp-route-id="@tv.id">
                                                @tv.name
                                            </a>
                                        </h6>
                                        <p>
                                            First Aired @tv.first_air_date
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    }
}
<!-- UpComming-->
@{
    if (Model.Upcomming.results is not null)
    {
        <section class="section section-inset-2">
            <div class="container">
                <h2 class="text-center mb-5">Latest and Upcoming Movies</h2>
                <div class="row ">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">
                        @foreach (var result in Model.Upcomming.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="Movies"
                               asp-route-id="@result.id">
                                            <img src="@result.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @result.title" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="Movies"
                                   asp-route-id="@result.id">
                                                @result.title
                                            </a>
                                        </h6>
                                        <p>
                                            Release @result.release_date
                                        </p>
                                        <div class="pointer trailerlinks">
                                            <p data-movieid="@result.id">
                                                Watch Trailer
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </section>


    }//closing if inner
}
<!-- Netflix Originals-->
@{
    if (@Model.NetflixOriginals is not null)
    {
        <section class="owl-slider owl-slider-horrorbg">
            <div class="container">
                <h2 class="text-center text-white mb-5">Top Netflix Originals</h2>
                <div class="row">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">
                        @foreach (var result in Model.NetflixOriginals.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="TV"
                               asp-route-id="@result.id">
                                            <img src="@result.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @result.name" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="TV"
                                   asp-route-id="@result.id">
                                                @result.name
                                            </a>
                                        </h6>
                                        <p>
                                            Release @result.first_air_date
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    }
}




<!-- Netflix  -->
@{
    if (Model.NetflixGems is not null)
    {
        <section class="section section-inset-2">
            <div class="container">
                <h2 class="text-center mb-5">Netflix Gems</h2>
                <div class="row">

                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-xl-items="4"
                     data-loop="true"
                     data-margin="15"
                     data-dots="true"
                     data-autoplay="true"
                     data-lg-dots-each="2"
                     data-xs-stage-padding="15">


                        @foreach (var result in Model.NetflixGems.results)
                        {
                            <div class="owl-item">
                                <div class="owl-item-slide-caption">
                                    <div class="col-12 wow-outer text-left">
                                        <a asp-action="Details"
                               asp-controller="TV"
                               asp-route-id="@result.id">
                                            <img src="@result.poster_path"
                                         class="owl-img"
                                         alt="movie poster for @result.name" />
                                        </a>
                                        <h6 class="offset-top-25">
                                            <a asp-action="Details"
                                   asp-controller="TV"
                                   asp-route-id="@result.id">
                                                @result.name
                                            </a>
                                        </h6>
                                        <p>
                                            Release @result.first_air_date
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </section>


    }//closing if inner
}


<!-- Modal  -->
<div class="modal fade"
     id="trailerModalVideo"
     tabindex="-1"
     role="dialog"
     aria-labelledby="trailerModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="760" height="415"
                            class="embed-responsive-item"
                            src=""
                            id="trailerVideo"
                            allowscriptaccess="always"
                            allow="autoplay">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
<script>
    const url = "https://localhost:5001/movies/GetMovieTrailer/"
    let watchTrailer = document.getElementsByClassName("trailerlinks");
    Array.from(watchTrailer).forEach((e) => {
        e.addEventListener("click", (e) => {
            const movieId = e.target.dataset.movieid
            e.preventDefault();
            GetMovieTrailer(url,movieId)
           $('#trailerModalVideo').on('hidden.bs.modal', function (event) {
           $("#trailerVideo").attr('src', "");
           })
        })
    })
</script>
}
