@using ReelJunkies.Models.ViewModels
@model VM_LandingPage
@{
    ViewData["Title"] = "Real Junkies";
}

<style>
    .clampOverview {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h5.card-title {
        height: 2.5em;
    }
</style>

<!--  Content-->
<main class="page-content">
    <section class="bg-light bg-subscribe section section-inset-1">
        <div class="container">
            <div class="row justify-content-center offset-custom-3">
                <div class="col-12 col-lg-9 col-xl-6 col-lg-offset-2 col-xl offset-custom-3">
                    <h4>Welcome.</h4>
                    <p class="fw-l h5 text-transform-none">
                        Millions of movies, TV shows and people to discover. Explore now.
                    </p>
                    <!-- RD Mailform-->
                    <form class="rd-mailform subscribe-form-3 offset-top-20" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap">
                            <label class="form-label" for="forms-news-email">Your e-mail...</label>
                            <input class="form-input" id="forms-news-email" type="email" name="email" />
                        </div>
                        <div class="button-wrap">
                            <button class="btn btn-sm btn-secondary">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container isotope-wrap">
            <h2>Watch movies online</h2>
            <hr>
            <div class="btn-group-isotope isotope-filters">
                <button class="btn btn-success-mod-1 btn-sm active text-capitalize" data-isotope-filter="*" data-isotope-group="gallery">Top Rated</button>
                <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-1" data-isotope-group="gallery">New Releases</button>
                <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-2" data-isotope-group="gallery">Coming Soon</button>
            </div>
            <div class="isotope offset-top-10 masonry-gallery row thumbnail-main-section" data-isotope-layout="masonry" data-isotope-group="gallery" data-lg-thumbnail="false" data-addClass="main">
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-1">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-1.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Ant-Man and the Wasp</a></h6>
                        <p class="text-gray">2018, USA, Action</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2 text-gray"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-1">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-2.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Avengers: Infinity War</a></h6>
                        <p class="text-gray">2018, USA, Action, Fantasy</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-1">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-3.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">The Flash</a></h6>
                        <p class="text-gray">2014, USA, Adventure, Fantasy</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-2">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-4.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Game of Thrones</a></h6>
                        <p class="text-gray">2018, USA, Adventure, Action</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-1">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-5.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Titans</a></h6>
                        <p class="text-gray">2018, USA, Drama,  Adventure</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2 text-gray"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-2">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-6.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Aquaman</a></h6>
                        <p class="text-gray">2018, USA, Action, Fantasy</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-2">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-7.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">Hold the Dark</a></h6>
                        <p class="text-gray">2018, USA, Adventure, Mystery</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
                <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-2">
                    <div class="thumbnail-gallery-wrapper">
                        <img src="images/gallery-8.jpg" alt="">
                        <div class="caption-2">
                            <div class="caption-wrapper"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                        </div>
                    </div>
                    <div class="div text-left">
                        <h6 class="title-block offset-top-20"><a href="movie-details.html">The Predator</a></h6>
                        <p class="text-gray">2018, USA, Adventure, Horror</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-inset-1 bg-gray-900">
        <div class="container">
            <h2 class="text-center text-white">Coming Soon</h2>
            <hr class="hr-primary">
            <div class="row row-45">
                <div class="col-12 col-md-12 col-lg-6 text-center text-lg-left">
                    <div class="video-box-overlay">
                        <img src="images/index-1.jpg" alt="">
                        <div class="video-box">
                            <div class="video-box-play"><a href="https://youtu.be/20bpjtCbCz0" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                            <div class="video-box-inner"><span class="item-1"><a href="movie-details.html">Deadpool 2</a></span><span class="item-2">The Trailer</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 text-lg-left well1">
                    <div class="text-box-overlay">
                        <h3 class="font-weight-normal text"><a href="movie-details.html">Deadpool 2</a></h3>
                        <ul class="text-box-inners">
                            <li class="item-1">1h 59min</li>
                            <li class="item-2">
                                <ul>
                                    <li><a href="#">Action,</a></li>
                                    <li><a href="#">Adventure,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </li>
                            <li class="item-3">May 18, 2018 (USA)</li>
                        </ul>
                        <p>After losing Vanessa (Morena Baccarin), the love of his life, 4th-wall breaking mercenary Wade Wilson aka Deadpool (Ryan Reynolds) must assemble a team and protect a young, full-figured mutant Russell Collins aka Firefist (Julian Dennison) from Cable (Josh Brolin).</p>
                        <p class="font-weight-bold offset-top-10">Director: &nbsp;<span class="font-weight-light">David Leitch</span></p>
                        <p class="font-weight-bold">Writers: &nbsp;<span class="font-weight-light">Rhett Reese, Paul Wernick</span></p>
                        <p class="font-weight-bold">Stars: &nbsp;<span class="font-weight-light">Ryan Reynolds, Josh Brolin, Morena Baccarin</span></p>
                    </div>
                </div>
            </div><a class="btn btn-primary btn-sm btn-min-width" href="#">Add To Watchlist</a>
        </div>
    </section>
    <section class="section section-inset-2">
        <div class="container">
            <h2 class="text-center">Top Box Office</h2>
            <hr>
            <div class="row row-45 justify-content-center">
                <div class="col-9 col-sm-6 col-lg-3">
                    <a href="shop-product.html">
                        <div class="box-office-media"><img src="images/gallery-9.jpg" alt=""></div>
                    </a>
                    <div class="caption-1">
                        <div class="caption-wrapper"></div>
                    </div>
                    <div class="poster-blog text-left">
                        <h6 class="text-gray-900 offset-top-20"><a href="shop-product.html">Halloween</a></h6>
                        <p class="text-gray">2018, USA, Drama</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2 text-gray"></span></div>
                        <div class="price text-left">
                            <ul>
                                <li>$29.00</li>
                                <li><a class="letter-spacing-2" href="#">BUY MOVIE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-lg-3">
                    <a href="shop-product.html">
                        <div class="box-office-media"><img src="images/gallery-10.jpg" alt=""></div>
                    </a>
                    <div class="caption-1">
                        <div class="caption-wrapper"></div>
                    </div>
                    <div class="poster-blog text-left">
                        <h6 class="text-gray-900 offset-top-20"><a href="shop-product.html">Venom</a></h6>
                        <p class="text-gray">2018, USA, Action, Fantasy</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                        <div class="price text-left">
                            <ul>
                                <li>$29.00</li>
                                <li><a class="letter-spacing-2" href="#">BUY MOVIE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-lg-3">
                    <a href="shop-product.html">
                        <div class="box-office-media"><img src="images/gallery-11.jpg" alt=""></div>
                    </a>
                    <div class="caption-1">
                        <div class="caption-wrapper"></div>
                    </div>
                    <div class="poster-blog text-left">
                        <h6 class="text-gray-900 offset-top-20"><a href="shop-product.html">Hunter Killer</a></h6>
                        <p class="text-gray">2018, USA, Action</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                        <div class="price text-left">
                            <ul>
                                <li>$29.00</li>
                                <li><a class="letter-spacing-2" href="#">BUY MOVIE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-lg-3">
                    <a href="shop-product.html">
                        <div class="box-office-media"><img src="images/gallery-12.jpg" alt=""></div>
                    </a>
                    <div class="caption-1">
                        <div class="caption-wrapper"></div>
                    </div>
                    <div class="poster-blog text-left">
                        <h6 class="text-gray-900 offset-top-20"><a href="shop-product.html">What They Had</a></h6>
                        <p class="text-gray">2018, USA, Adventure, Action</p>
                        <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span></div>
                        <div class="price text-left">
                            <ul>
                                <li>$29.00</li>
                                <li><a class="letter-spacing-2" href="#">BUY MOVIE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-inset-1">
        <div class="container">
            <h2>Recent News</h2>
            <hr>
            <div class="row row-45 text-md-left">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blog-post thumbnail-1 thumbnail-mod-2">
                        <img src="images/index-8.jpg" alt="">
                        <div class="caption">
                            <div class="blog-post-title">
                                <h4 class="text-success-custom text-transform-none"><a href="blog_post.html">"Better Call Saul" Writer Offers<br>Advice</a></h4>
                            </div>
                            <div class="blog-post-time">
                                <time datetime="2018-12-26">December 26, 2018</time>
                            </div>
                            <div class="blog-post-body">
                                <p>“Better Call Saul” writer Gennifer Hutchison offered some advice to Jason Blum after the Blumhouse Productions chief said in an interview that he’s “trying” to hire a woman...</p><a class="badge fa-comment text-success-custom" href="blog_post.html">2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blog-post thumbnail-1 thumbnail-mod-2">
                        <img src="images/index-9.jpg" alt="">
                        <div class="caption">
                            <div class="blog-post-title">
                                <h4 class="text-success-custom text-transform-none"><a href="blog_post.html">"Single Parents" Lands Full-Season Order From ABC</a></h4>
                            </div>
                            <div class="blog-post-time">
                                <time datetime="2018-12-26">December 26, 2018</time>
                            </div>
                            <div class="blog-post-body">
                                <p>ABC has given a full-season order to the freshman comedy “Single Parents.” Three episodes into its run, the comedy created...</p><a class="badge fa-comment text-success-custom" href="blog_post.html">2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="blog-post thumbnail-1 thumbnail-mod-2">
                        <img src="images/index-10.jpg" alt="">
                        <div class="caption">
                            <div class="blog-post-title">
                                <h4 class="text-success-custom text-transform-none"><a href="blog_post.html">"Animals" Canceled After Three Seasons at HBO</a></h4>
                            </div>
                            <div class="blog-post-time">
                                <time datetime="2018-12-26">December 26, 2018</time>
                            </div>
                            <div class="blog-post-body">
                                <p>HBO has canceled the animated series “Animals” after three seasons, Variety has confirmed. The series was created by executive producers Phil Matarese and Mike Luciano...</p><a class="badge fa-comment text-success-custom" href="blog_post.html">2</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="btn btn-success-mod-1 btn-sm btn-min-width" href="blog_default.html">view all blog posts</a>
        </div>
    </section>
    <section class="section section-inset-1 bg-light">
        <div class="container">
            <h2 class="text-center">Our Partners</h2>
            <hr>
            <div class="row">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-inset-20 owl-dots-offset-top-35 owl-carousel-fullheight" data-items="2" data-dotsEach="2" data-xs-items="3" data-xs-dotsEach="3" data-sm-items="4" data-sm-dotsEach="2" data-md-items="5" data-md-dotsEach="3" data-lg-items="6" data-lg-dotsEach="3" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true"><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-1.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-2.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-3.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-4.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-5.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-6.png" alt=""></a><a class="box-xl box-flex box-fullheight box-hovered bg-default" href="#"><img class="img-responsive center-block" src="images//partner-1.png" alt=""></a></div>
            </div>
        </div>
    </section>
    <section class="section section-inset-1">
        <div class="container">
            <h2>testimonials</h2>
            <hr>
            <div class="row">
                <div class="col-12">
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-carousel-mod-2" data-items="1" data-md-items="2" data-xl-items="2" data-loop="false" data-margin="30" data-dots="true" data-autoplay="true">
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-12.jpg" alt="" />
                                <p>
                                    <cite>Sharon Willis</cite>
                                </p>
                                <p>
                                    <q>One of the best online movie streaming services that I’ve seen! Thank you for the constant updates of your movies and TV shows catalog. I recommend MOOV to everyone!</q>
                                </p>
                            </blockquote>
                        </div>
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-13.jpg" alt="" />
                                <p>
                                    <cite>Jack Wilson</cite>
                                </p>
                                <p>
                                    <q>My girlfriend recommended me this website and I’m actually quite surprised by the range of the movies and TV series they offer here. Even some of my personal favorites can be found on MOOV!</q>
                                </p>
                            </blockquote>
                        </div>
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-15.jpg" alt="" />
                                <p>
                                    <cite>Kelly McMillan</cite>
                                </p>
                                <p>
                                    <q>I’m a big fan of movies, especially of classic ones. I’ve been looking for a great movie website for quite a long time and MOOV has almost every movie I’m interested in. That’s great!</q>
                                </p>
                            </blockquote>
                        </div>
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-16.jpg" alt="" />
                                <p>
                                    <cite>Harold Barnett</cite>
                                </p>
                                <p>
                                    <q>Sci-fi action movies and thrillers as well as the TV shows of the same genre are my true passion and MOOV has one of the greatest range of movies and TV series to offer. Thanks!</q>
                                </p>
                            </blockquote>
                        </div>
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-18.jpg" alt="" />
                                <p>
                                    <cite>Samantha Lee</cite>
                                </p>
                                <p>
                                    <q>The superhero and fantasy movies available at MOOV are exceptionally great! I’m finally able to watch all my favorites without having to pay more than I can allow.</q>
                                </p>
                            </blockquote>
                        </div>
                        <div class="owl-item">
                            <blockquote class="quote">
                                <img class="rounded-circle" src="images/index-17.jpg" alt="" />
                                <p>
                                    <cite>Albert Webb</cite>
                                </p>
                                <p>
                                    <q>This website is incredible! It has not only top box office premieres but also other great movies as well as TV shows and series that I find awesome to watch and discuss with my friends.</q>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<section class="owl-slider">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3" data-items="1" data-md-items="2" data-xl-items="2" data-loop="true" data-margin="15" data-dots="true" data-autoplay="true" data-lg-dots-each="2" data-xs-stage-padding="15">
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-1-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">IT (2017)</a></h6>
                            <p>2017, USA, Drama, Horror, Thriller</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-2-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">The Haunting of Hill House</a></h6>
                            <p>2018, USA, Drama, Horror, Mystery</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-3-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">First Man (2018)</a></h6>
                            <p>2018, USA, Biography, Drama, History</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-4-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">Black Mirror</a></h6>
                            <p>2011, USA, Drama, Sci-Fi, Thriller</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-5-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">Daredevil</a></h6>
                            <p>2015, USA, Drama, Sci-Fi, Thriller</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="owl-item-slide-caption">
                        <div class="col-12 wow-outer text-left">
                            <a href="movie-details.html"><img src="images/slider-6-570x364.jpg" alt="" width="570" height="364" /></a>
                            <h6 class="offset-top-25"><a href="movie-details.html">Stranger Things</a></h6>
                            <p>2016, USA, Drama, Fantasy, Horror</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="d-sm-flex align-items-center justify-content-between mt-5 mb-3">
        <h1 class="h5 mb-0 float-left">Offers</h1>
        <a href="offers.html" class="d-sm-inline-block text-xs float-right">
            View All <i class="fas fa-eye fa-sm"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card offer-card shadow border-0">
                <a href="index.html#">
                    <div class="m-card-cover">
                        <img src="img/o1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <img src="img/l1.png" class="rounded-circle" alt="...">
                        <p class="card-text text-gray-900 mt-3 mb-1">SBI Signature/Elite Credit Card Offer </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Valid till <span class="text-gray-700">15 Oct 2019 23:59</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card offer-card shadow border-0">
                <a href="index.html#">
                    <div class="m-card-cover">
                        <img src="img/o2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <img src="img/l2.png" class="rounded-circle" alt="...">
                        <p class="card-text text-gray-900 mt-3 mb-1">Google Pay New User Offer </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Valid till <span class="text-gray-700">15 Oct 2019 23:59</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card offer-card shadow border-0">
                <a href="index.html#">
                    <div class="m-card-cover">
                        <img src="img/o3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <img src="img/l3.png" class="rounded-circle" alt="...">
                        <p class="card-text text-gray-900 mt-3 mb-1">HDFC Bank Times Card Offer</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Valid till <span class="text-gray-700">15 Oct 2019 23:59</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card offer-card shadow border-0">
                <a href="index.html#">
                    <div class="m-card-cover">
                        <img src="img/o4.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <img src="img/l4.png" class="rounded-circle" alt="...">
                        <p class="card-text text-gray-900 mt-3 mb-1">Visa Blockbuster Weekends Offer </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Valid till <span class="text-gray-700">15 Oct 2019 23:59</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden">
        <h1 class="h5 mb-0 float-left">Movies</h1>
        <a href="movies.html" class="d-sm-inline-block text-xs float-right">
            View All <i class="fas fa-eye fa-sm"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card m-card shadow border-0">
                <a href="movies-detail.html">
                    <div class="m-card-cover">
                        <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                            <h6 class="text-gray-900 mb-0 font-weight-bold">
                                <i class="fas fa-heart text-danger"></i>
                                88%
                            </h6>
                            <small class="text-muted">23,421</small>
                        </div>
                        <img src="img/m1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <h5 class="card-title text-white mb-1">Jumanji: The Next Level</h5>
                        <p class="card-text">
                            <small class="text-white">English</small> <small class="text-danger ml-2"><i class="fas fa-calendar-alt fa-sm"></i> 22 AUG</small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card m-card shadow border-0">
                <a href="movies-detail.html">
                    <div class="m-card-cover">
                        <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                            <h6 class="text-gray-900 mb-0 font-weight-bold">
                                <i class="fas fa-heart text-danger"></i>
                                50%
                            </h6>
                            <small class="text-muted">8,784</small>
                        </div>
                        <img src="img/m2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <h5 class="card-title text-white mb-1">Gemini Man</h5>
                        <p class="card-text">
                            <small class="text-white">English</small> <small class="text-danger ml-2"><i class="fas fa-calendar-alt fa-sm"></i> 22 AUG</small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card m-card shadow border-0">
                <a href="movies-detail.html">
                    <div class="m-card-cover">
                        <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                            <h6 class="text-gray-900 mb-0 font-weight-bold">
                                <i class="fas fa-heart text-danger"></i>
                                20%
                            </h6>
                            <small class="text-muted">69,123</small>
                        </div>
                        <img src="img/m3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <h5 class="card-title text-white mb-1">The Current War</h5>
                        <p class="card-text">
                            <small class="text-white">English</small> <small class="text-danger ml-2"><i class="fas fa-calendar-alt fa-sm"></i> 22 AUG</small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card m-card shadow border-0">
                <a href="movies-detail.html">
                    <div class="m-card-cover">
                        <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                            <h6 class="text-gray-900 mb-0 font-weight-bold">
                                <i class="fas fa-heart text-danger"></i>
                                74%
                            </h6>
                            <small class="text-muted">88,865</small>
                        </div>
                        <img src="img/m4.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-3">
                        <h5 class="card-title text-white mb-1">Charlie's Angels</h5>
                        <p class="card-text">
                            <small class="text-white">English</small> <small class="text-danger ml-2"><i class="fas fa-calendar-alt fa-sm"></i> 22 AUG</small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden">
        <h1 class="h5 mb-0 float-left">Events</h1>
        <a href="events.html" class="d-sm-inline-block text-xs float-right">
            View All <i class="fas fa-eye fa-sm"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="events-detail.html">
                    <div class="m-card-cover">
                        <img src="img/e1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">07</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">Glasgow International Comedy Festival</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Glasgow, Scotland
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="events-detail.html">
                    <div class="m-card-cover">
                        <img src="img/e2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">10</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">Vancouver Fashion Week</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Vancouver, Canada
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="events-detail.html">
                    <div class="m-card-cover">
                        <img src="img/e3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">15</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">DC Environmental Film Festival</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Washington DC, USA
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="events-detail.html">
                    <div class="m-card-cover">
                        <img src="img/e4.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">22</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">Cape Town International Jazz Festival</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Cape Town, South
                                        Africa
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden">
        <h1 class="h5 mb-0 float-left">Sports</h1>
        <a href="sports.html" class="d-sm-inline-block text-xs float-right">
            View All <i class="fas fa-eye fa-sm"></i>
        </a>
    </div>

    <div class="row pb-4 mb-2">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="sports-detail.html">
                    <div class="m-card-cover">
                        <img src="img/s1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">25</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">The FIFA World Cup</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> Glasgow, Scotland
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="sports-detail.html">
                    <div class="m-card-cover">
                        <img src="img/s2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">28</h6>
                                    <small class="text-muted">OCT</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">The Olympic Games</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> United States
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="sports-detail.html">
                    <div class="m-card-cover">
                        <img src="img/s3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">12</h6>
                                    <small class="text-muted">NOV</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">The 24 Hours of Le Mans</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> France
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card e-card shadow border-0">
                <a href="sports-detail.html">
                    <div class="m-card-cover">
                        <img src="img/s4.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-2 auto py-3 pl-3">
                                <div class="bg-white rounded text-center">
                                    <h6 class="text-danger mb-0 font-weight-bold">21</h6>
                                    <small class="text-muted">NOV</small>
                                </div>
                            </div>
                            <div class="col-10 p-3">
                                <p class="card-text text-gray-900 mb-1">The Super Bowl</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt fa-sm mr-1"></i> United States
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning font-weight-bolder border-dark">UPCOMING</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Upcomming.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-warning font-weight-bold">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning font-weight-bolder border-dark">NOW PLAYING</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-warning font-weight-bold">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning font-weight-bolder border-dark">POPULAR</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-warning font-weight-bold">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning font-weight-bolder border-dark">TOP RATED</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-warning font-weight-bold">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>