@using ReelJunkies.Models.Database
@using ReelJunkies.Models.ViewModels
@using ReelJunkies.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IImageService _imageService
@model Movie


<div class="text-center">

    @{
        ViewData["HeaderFirstString"] = @Model.ReleaseDate.ToShortDateString();
        ViewData["HeaderSecondString"] = @Model.TagLine.ToString();
        <partial name="_PageTitle"
             view-data="ViewData" />

    }



    <section class="bg-light section-xl text-center">
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home"
                   asp-action="index">Home</a>
            </li>
            <li>
                <a asp-controller="Home"
                   asp-action="index">Movies</a>
            </li>
            <li class="active">@Model.Title</li>
        </ol>
    </section>

    <section class="section section-inset-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <div class="row row-45 product-item">
                        <div class="col-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0 text-center text-md-left">
                            <a href="@_imageService.DecodeImage(Model.Poster, Model.PosterType)"
                               data-lightgallery="item">
                                <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)"
                                     alt="@Model.Title movie poster">
                            </a>
                        </div>
                        <div class="col-12 col-lg-6 text-md-left">
                            <h4>@Model.Title</h4>
                            <div class="review">
                                <span class="icon fa-star icon-waring-2">
                                </span><span class="icon fa-star icon-waring-2">
                                </span>
                                <span class="icon fa-star icon-waring-2">
                                </span>
                                <span class="icon fa-star icon-waring-2">
                                </span><span class="icon fa-star icon-waring-2"></span>
                                <span class="text-gray">@Model.Reviews.Count customer reviews</span>
                            </div>
                            <div class="about-container">
                                <p class="text-gray">
                                    Actors:&nbsp;
                                    <span class="text-black">
                                        @foreach (var actor in Model.Cast.Take(10))
                                        {
                                            <a asp-controller="Actors"
                                           asp-action="Details"
                                           asp-route-id="@actor.CastId"
                                           class="text-black hover-red">
                                                @actor.Name
                                            </a>
                                        }
                                    </span>
                                </p>
                                <p>Overview: @Model.Overview</p>
                                <p class="text-gray">
                                    @Model.Rating

                                </p>
                                <ul class="info-box">
                                    @foreach (var genre in Model.Genres.Take(3))
                                    {
                                        <li class="mb-2">@genre.Name</li>
                                    }

                                </ul>
                            </div>
                            <div class="btn btn-success btn-sm watchtrl">
                                <span class="icon icon-xs fa-film">
                                </span>&nbsp; Watch Trailer
                            </div>
                            <div class="blog-post offset-custom-5">
                                <div class="badge">
                                    <span>Share:</span>
                                    <ul class="list-inline">
                                        <li><a class="fa-facebook" href="#"></a></li>
                                        <li><a class="fa-twitter" href="#"></a></li>
                                        <li><a class="fa-pinterest-p" href="#"></a></li>
                                        <li><a class="fa-vimeo" href="#"></a></li>
                                        <li><a class="fa-google" href="#"></a></li>
                                        <li><a class="fa-rss" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row offset-custom-4">
                        <div class="col-12">
                            <div class="responsive-tabs-shop horizontal-tabs offset-custom-5">
                                <div class="tabs-custom tabs-horizontal tabs-corporate tabs-shop" id="tabs-3">
                                    <!-- Nav tabs-->
                                    <ul class="nav nav-tabs">
                                        <li class="col-6 col-md-4 nav-item"
                                            role="presentation">
                                            <a class="nav-link text-capitalize"
                                               href="#tabs-3-3"
                                               data-toggle="tab">
                                                Cast
                                            </a>
                                        </li>
                                        <li class="col-6 col-md-4 nav-item"
                                            role="presentation">
                                            <a class="nav-link text-capitalize active"
                                               href="#tabs-3-1"
                                               data-toggle="tab">
                                                Reviews (@Model.Reviews.Count)
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Tab panes-->
                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="tabs-3-3">
                                            <div class="container">
                                                <div class="row">
                                                    @foreach (var actor in Model.Cast.Take(6))
                                                    {
                                                        <a class="actor-img col-sm-6 col-md-4 mb-3"
                                                       asp-action="Details"
                                                       asp-controller="Actors"
                                                       asp-route-id="@actor.CastId">
                                                            <img src="@actor.ImageUrl"
                                                             alt="picture of @actor.Name">
                                                            <div class="actor-text text-center text-white">
                                                                <h5>@actor.Name</h5>
                                                                <h6>As</h6>
                                                                <h6>@actor.Character</h6>
                                                            </div>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show active" id="tabs-3-1">


                                            @foreach (var review in Model.Reviews)
                                            {
                                                <div class="media flex-column flex-md-row text-sm-left comment">
                                                    <div class="media-left">
                                                        <img class="img-circle"
                                                         src=""
                                                         alt="">
                                                    </div>
                                                    <div class="media-body media-body-inset-1">
                                                        <h6>
                                                            <a href="#">
                                                                @review.AuthorUsername
                                                            </a>
                                                        </h6>
                                                        <span class="text-gray">
                                                        </span>
                                                        <div class="blog-post-time mt-2">
                                                            <p class="font-italic">
                                                                <time>
                                                                    @review.CreateDate
                                                                </time>

                                                                @if (@review.UpdateDate > @review.CreateDate)
                                                                {
                                                                    <span class="ml-2">
                                                                        updated on
                                                                    </span>

                                                                    <time>
                                                                        @review.UpdateDate
                                                                    </time>
                                                                }
                                                            </p>
                                                        </div>

                                                        <div class="review-comment mb-4">
                                                            <p class="clamp content">
                                                                @review.Content
                                                            </p>

                                                            @if (review.Content.Length >= 400)
                                                            {

                                                                <p class="readmore pointer text-gray">
                                                                    Read More
                                                                </p>

                                                                <p class="readmore d-none pointer text-gray">
                                                                    Read less
                                                                </p>
                                                            }
                                                            @if (UserManager.GetUserId(User) == review.AuthorDetailsId)
                                                            {

                                                                <span class="d-flex justify-content-end">
                                                                    <span class="editReviewBtn">
                                                                        <i class="fa-solid fa-pen-to-square btn"
                                                                   data-reviewid="@review.Id"
                                                                   data-movieid=@Model.TmDbMovieId>
                                                                        </i>
                                                                    </span>
                                                                    <span class="deleteReviewBtn">
                                                                        <i class="fa-solid fa-trash-can text-danger btn"
                                                                   data-reviewid="@review.Id"
                                                                   data-movieid=@Model.TmDbMovieId>
                                                                        </i>
                                                                    </span>
                                                                </span>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <hr class="col-11" />
                                                </div>
                                            }
                                            <div class="offset-custom-7">
                                                @{
                                                    if (SignInManager.IsSignedIn(User))
                                                    {
                                                        <h4 class="text-center"> Leave your review </h4>
                                                    }
                                                    else
                                                    {
                                                        <h4 class="text-center"> You need to sign in to leave your review</h4>
                                                    }
                                                }


                                                <!--form-->
                                                <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                                                <form asp-controller="Movies" asp-action="PostReview" method="post">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="row row-10">
                                                        <div class="col-12 col-md-12">
                                                            <div class="form-wrap">
                                                                <input type="hidden" value="@Model.TmDbMovieId" name="MovieId" />
                                                                <textarea class="form-input text-black"
                                                                          id="forms-message"
                                                                          name="Content"
                                                                          placeholder="Leave your review"
                                                                          disabled=@(!SignInManager.IsSignedIn(User))></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 text-center">
                                                            <button class="btn btn-success btn-sm"
                                                                    type="submit"
                                                                    disabled=@(!SignInManager.IsSignedIn(User))>
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- suggested movies-->
    <section class="section section-inset-2">
        <div class="container">
            <h2 class="text-center">You may also like</h2>
            <hr>
            <div class="row row-45 justify-content-center">

                @foreach (var suggestedMovie in Model.Similar)
                {
                    <div class="col-9 col-sm-6 col-lg-3">
                        <a asp-controller="Movies"
                       asp-action="Details"
                       asp-route-id="@suggestedMovie.TmDbId">
                            <div class="box-office-media">
                                <img src="@suggestedMovie.PosterPath" alt="">
                            </div>
                        </a>
                        <div class="caption-1">
                            <div class="caption-wrapper"></div>
                        </div>
                        <div class="poster-blog text-left">
                            <h6 class="text-gray-900 offset-top-20">
                                <a asp-controller="Movies"
                               asp-action="Details"
                               asp-route-id="@suggestedMovie.TmDbId">
                                    @suggestedMovie.Title
                                </a>
                            </h6>
                            <p class="text-gray">@suggestedMovie.ReleaseDate.ToShortDateString()</p>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
</div>
<!-- trailer Modal -->
<div class="modal fade"
     id="detailedMovieTrailerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="trailerLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    @{
                        //I am isolating a piece of data in order to use it as my embed source
                        var key = "";
                        var source = "";
                        if (Model.TrailerUrl is not null)
                        {
                            key = Model.TrailerUrl.Split("=").Last();
                            source = $"https://www.youtube.com/embed/{key}";
                        }
                    }
                    <iframe class="trailer"
                            width="560"
                            height="315"
                            src="@source"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowscriptaccess="always"
                            allow="autoplay">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trailer Modal -->

<!--- delete Modal --->
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="deleteReviewModal">
    <div class="modal-dialog review" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center pt-5 pb-5">
                <p>Are you sure you want to delete this review?</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Movies" asp-action="DeleteReview" method="post">
                    <input type="hidden" id="hiddenReviewId" name="Id" value="" />
                    <input type="hidden" id="hiddenReviewAuthorId" name="AuthorDetailsId" value="@UserManager.GetUserId(User)" />

                    <button type="submit" class="btn btn-outline-primary mt-0">Delete</button>
                    <button type="button" class="btn btn-outline-primary mt-0" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--- delete Modal --->

<!--- Edit Modal --->
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="editReviewModal">
    <div class="modal-dialog review" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Edit Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h6 class="text-danger">@ViewData["ErrorMessage"]</h6>
            <form asp-controller="Movies" asp-action="EditReview" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body text-center pt-5 pb-5">
                    <input type="hidden" ggg="this" id="hiddenEditReviewId" name="Id" value="" />
                    <input type="hidden" id="hiddenReviewMovieId" name="MovieId" value="@Model.TmDbMovieId" />
                    <input type="hidden" id="hiddenReviewAuthorId" name="AuthorDetailsId" value="@UserManager.GetUserId(User)" />
                    <textarea class="form-input text-black"
                              id="editReviewModalTextArea"
                              name="Content"
                              placeholder="Leave your review"
                              disabled=@(!SignInManager.IsSignedIn(User))></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                    <button type="button" class="btn btn-outline-primary mt-0" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--- Edit Modal --->

<!-- -->
@section scripts{
<script>

       const readMore = document.querySelectorAll(".readmore")
           Array.from(readMore).forEach((review) => {
               review.addEventListener('click', (e) => {
                   let currentRvw = review.parentElement.children[0];
                   currentRvw.classList.toggle("clamp")
                   review.parentNode.children[1].classList.toggle("d-none");
                   review.parentNode.children[2].classList.toggle("d-none");
               })
           })
           document.querySelector(".watchtrl").addEventListener('click', (e) => {
               e.preventDefault();
               $('#detailedMovieTrailerModal').modal('toggle')
               $('#detailedMovieTrailerModal').on('hidden.bs.modal', function (event) {
                   $("#detailedMovieTrailerModal iframe").attr("src", $("#detailedMovieTrailerModal iframe").attr("src"));
               })
           });

</script>
<script src="~/js/editdeletereview.js"></script>
}